<%= simple_form_for @box, url: locker_boxes_path(@locker) do |f| %>
  <%= f.input :name, label: false, placeholder: "Box Name" %>
  <%= f.input :cube_id, as: :hidden %>
  <h4 class="box-item-title">Box Items:</h4>
  <div id="box-items">
    <%= f.full_error :items %>
    <%= f.simple_fields_for :items do |i| %>
      <%= render "boxes/item_fields", f: i %>
    <% end %>
  </div>
  <div class="links" data-toggle="tooltip" title="Add Item" data-placement="right">
    <%= link_to_add_association fa_icon("plus-square-o 2x"), f, :items, partial: "boxes/item_fields", class: "add-item-form-btn" %>
  </div>
  <br>
  <%= f.submit "Add Box To Locker", id: "add-cube-btn", class: "btn btn-success" %>
<% end %>