<div class="col-md-3">
  <h1>My Lockers</h1>
  <div class="locker-list">
    <ul class="list-group">    
      <% @lockers.each do |locker| %>
        <%= link_to locker.name, locker_path(locker), class: "list-group-item" %>
      <% end %>
    </ul>
  </div>  
</div>

<div class="col-md-8 col-md-offset-1">
  <h1>New Locker</h1>
  <div class="locker-list">
    <%= simple_form_for @locker, url: lockers_path, method: :post do |f| %>
      <%= f.input :name %>
      <%= f.input :length %>
      <%= f.input :width %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
  