<div class="col-md-3">
  <h2>My Lockers</h2>
  <div class="locker-list">
    <ul class="list-group">    
      <% @lockers.each do |locker| %>
        <%= link_to locker.name, locker_path(locker), class: "list-group-item" %>
      <% end %>
    </ul>
  </div>  
</div>

<div class="col-md-8 col-md-offset-1">
  <h2>New Locker</h2>
  <div class="locker-list">
    <%= simple_form_for @locker, url: lockers_path, method: :post do |f| %>
      <%= f.input :name, placeholder: "Locker Name" %>
      <%= f.input :length, placeholder: "Multiples of box length" %>
      <%= f.input :width, placeholder: "Multiples of box width" %>
      <%= f.submit class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
  