<script>
  storganize = {};
  storganize.locker = <%= @locker.to_json.html_safe %>;
  storganize.locker.boxes = <%= @locker.boxes.to_json.html_safe %>;
</script>

<div>

  <div id="my-canvas" data-locker="<%= @locker.to_json %>"></div>

  <div id="box-filter">
    Box Filter:<input id="search-field" />
  </div>

  <div class="box-form col-md-3">
    <%= render "boxes/form" %>
  </div>

  <div class="col-md-3">
    <h3>Box List</h3>
    <ul class="list-group box-list">
      <% @locker.boxes.each do |box| %>
       <%= render partial: "boxes/box_list", locals: {box: box} %>
      <% end %>      
    </ul>
  </div>
  
</div>


  