<script>
  storganize = {};
  storganize.locker = <%= @locker.to_json.html_safe %>;
  storganize.locker.boxes = <%= @locker.boxes.to_json.html_safe %>;
</script>

<div>
  <div id="my-canvas" data-locker="<%= @locker.to_json %>">
    <div id="gui-container"></div>
  </div>

  <div class="box-form col-md-4">
    <%= render partial: "/boxes/form" %>
  </div>

  <div class="box-list col-md-2">
    <% @locker.boxes.each do |box| %>
      <div class="well" id="<%= dom_id(box) %>" data-box="<%= box.to_json %>">
        <%= link_to box.name, "javascript:void(0)" %>
        <%= box.cube_id %>
      </div>
    <% end %>
  </div>
  
</div>


  