<div>
  <div id="my-canvas" data-locker="<%= @locker.to_json %>">
    <div id="gui-container"></div>
  </div>

  <div class="box-form col-md-5">
    <h1><%= @locker.name %></h1>
    <p>Length: <%= @locker.length %></p>
    <p>Width: <%= @locker.width %></p>
    <h3>Add box!</h3>
    <%= simple_form_for @box, url: locker_boxes_path(@locker), method: :post do |f| %>
      <%= f.input :name %>
      <h4>Add Item</h4>
      <div id="box-items">
        <%= f.full_error :items %>
        <%= f.simple_fields_for :items do |i| %>
          <%= render "item_fields", f: i %>
        <% end %>
      </div>
      <div class="links">
        <%= link_to_add_association "add item", f, :items, class: "btn btn-info" %>
      </div>
      <br>
      <%= f.submit "Add Box To Locker", id: "add-cube-btn" %>
    <% end %>
    <!-- <button id="add-cube-btn">Add Cube!</button> -->
  </div>
  
</div>
  