<!DOCTYPE html>
<html>
<head>
  <title>Storganize</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
  <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/flatly/bootstrap.min.css" rel="stylesheet">
  <style>
    body { margin: 0; }
    canvas { width: 100%; height: 100% }
  </style>
</head>
<body>

<div class="nav-bar">
  <div class="logo">
    <%= link_to image_tag("transparent.png", {height: 50}), root_path %>
  </div>
  <h3 class="logo-title">Storganize</h3>
  <div class="nav-button">
    <%= link_to "My Lockers", root_path %> |
    <%= link_to "Sign Out", sessions_path, method: :delete %>
  </div>
</div>

<div class="container">

  <% if flash[:notice] %>
    <div class="alert alert-success"><%= flash[:notice] %></div>
  <% elsif flash[:alert] %>
    <div class="alert alert-danger"><%= flash[:alert] %></div>
  <% end %>

  <%= yield %>
</div>  

</body>
</html>
